/*GLOBAL*/
body {
	font-family: 'Arial';
}

/*HEADER*/
header {
	background-color: #FFFFFF;
	border: 1px solid #E9EAEA;
}

.titreHeader {
	text-align: center;
}

.loginHeader {
	
}
.link {
	text-decoration: none;
	color: black;
}