/*GLOBAL*/

body {
	/*font-family: 'Arial';*/
	font-family: 'Yanone Kaffeesatz', sans-serif;
	/*font-family: 'Poiret One', cursive;*/
	font-size: 18px;
	background: #E9EAEA;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}


h2 {
	font-size: 34px;
	color: #204056;
	margin: 60px 0 100px 0;
	text-align: center;
}


.link {
	text-decoration: none;
	color: inherit;
}


.clearfix:after {
	content: "";
	display: block;
	clear: both;
}


/*HEADER*/

.header {
	background-color: #fff;
	height: 80px;
}

.header h1 {
	line-height: ;
	background-color: #FFFFFF;
/*	border: 1px solid #E9EAEA;*/
}

.titreHeader {
	font-family: 'Poiret One', cursive;
	font-size: 3rem;
	font-weight: bold;
    color: #204056;
    float: left;
    height: 1%;
    padding: 1%;
}

.link span {
	border: 1px solid #204056;
	padding: 0 3px 0 1px;
	border-radius: 3px;
}

.titreHeader a {
	padding: 1%;
	padding-right: 0;
	border-radius: 5px;
}

.titreHeader span {
	border: 2px solid #34B3A0;
	padding: 1px 4px 1px 0;
}

.menu ul li {
	float: right;
}

.loginHeader {
	margin-top: 30px;
	margin-right: 1.5%;
}

.loginHeader a {
	text-decoration: none;
	color: #fff;
}

.btn {
  background: #3fb29f;
  background-image: -webkit-linear-gradient(top, #3fb29f, #2980b9);
  background-image: -moz-linear-gradient(top, #3fb29f, #2980b9);
  background-image: -ms-linear-gradient(top, #3fb29f, #2980b9);
  background-image: -o-linear-gradient(top, #3fb29f, #2980b9);
  background-image: linear-gradient(to bottom, #3fb29f, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #34B3A4;
  text-decoration: none;
}


/*HOME*/

article h3 {
	text-align: center;
	font-size: 25px;
	margin-bottom: 20px;
	margin-top: 30px;
	/*color: #34B3A0;*/
}

.linkh {
	text-decoration: none;
	color: black;
}

.colonne {
	float: left;
	width: 25%;
	height: 350px;
	margin-left: 250px;
	padding: 20px;
	box-shadow: 1px 1px 5px grey;
}

.colonne2 {
	float: right;
	width: 25%;
	height: 350px;
	margin-right: 250px;
	padding: 20px;
	box-shadow: 1px 1px 5px grey;
}

.linkHome {
	background: #fff;
	color: #204056;
	text-align: center;
	transition-property: background;
	transition-duration: 0.3s;
}

.js-box{
	display: inline-block;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	background: #204056;
	color: #fff;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 40px 4px 0 50px;
}

.php-box{
	display: inline-block;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	background: #204056;
	color: #fff;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 30px;
	padding: 30px 60px;
	border-radius:50%;
}

.linkHome:hover {
	background: #34B3A0;
	color: #fff;
	/*padding: 25px;*/
}

.linkHome:hover .js-box{
	background: #fff;
	color: #34B3A0;
	/*padding: 25px;*/
}

.linkHome:hover .php-box{
	background: #fff;
	color: #34B3A0;
	/*padding: 25px;*/
}


.border{
	width: 50%;
	border: 1px solid #34B3A0;
	margin: 50px auto;
}

.linkHome p {
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	padding: 10px;
}

.icon{
	font-size: 80px;
	margin-bottom: 30px;
}


/*HTML*/

.sous-cat{
	text-align: left;
	font-size: 25px;
	color: #204056;
	margin-bottom: 10px;
	margin-top: 20px;
}

.border-h{
	width: 100%;
	margin-top: 60px;
	border-bottom: 1px solid #BBB;
}

.box-sc{
	background: #fff;
	color: #204056;
	padding: 40px;
	margin-bottom: 5px;
	box-shadow: 1px 1px 5px #CCC;
	transition-property: background;
	transition-duration: 0.3s;
}

.icon-cat{
	font-size: 30px;
	margin-right: 10px;
	padding: 20px;
	border-radius: 50%;
	background: #E9EAEA;
}

.box-sc:hover{
	background: #34B3A0;
	color: #fff;
}

.box-sc:hover .icon-cat{
	background: #fff;
	color: #34B3A0;
}


/*FOOTER*/

.footer {
	text-align: center;
	margin-top: 100px;
	padding: 100px;
	background: #D4D5D6;
}