/*GLOBAL*/

body {
	font-family: 'Arial';
	background: #E9EAEA;
}


.container{
	max-width: 1200px;
	margin: 0 auto;
}

h2{
	font-size: 34px;
	color: #34B3A0;
	margin: 30px 0 150px 0;
	text-align: center;
}

h3{
	text-align: center;
	font-size: 25px;
	margin-bottom: 120px;
	margin-top: 30px;
	/*color: #34B3A0;*/
}

.clearfix{
	clear: both;
}


/*HEADER*/

header {
	background-color: #E9EAEA;
	background: #F6F4F3;
	background-color: #FFFFFF;
	border: 1px solid #E9EAEA;
}

.titreHeader {
	text-align: center;
}
/*HOME*/

a{
	color: black;
}
	
.link {
	text-decoration: none;
	color: black;
}

.colonne{
	float: left;
	width: 35%;
	height: 450px;
	margin-left: 100px;
	padding: 20px;
	box-shadow: 1px 1px 5px grey;
}

.colonne2{
	float: right;
	width: 35%;
	height: 450px;
	margin-right: 100px;
	padding: 20px;
	box-shadow: 1px 1px 5px grey;
}

.linkHome{
	background: #fff;
	text-align: justify;
	transition-property: background;
	transition-duration: 0.3s;
}

.linkHome:hover{
	background: #34B3A0;
	color: #fff;
	/*padding: 25px;*/
}

.border{
	width: 80%;
	border: 1px solid #34B3A0;
	margin: 50px auto;
}

.linkHome p{
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	padding: 10px;
}

/*FOOTER*/

.footer{
	text-align: center;
	margin: 100px;
}